**STEP 1** ▶ ▶

In [ ]:
def seconds_difference(time_1, time_2):   #Headline
#The following part will determine the Type Contract, then a small description and giving some examples to demonstrate the code is supposed to accomplish
    """ (number, number) -> number

    Return the number of seconds later that a time in seconds
    time_2 is than a time in seconds time_1.

    >>> seconds_difference(1800.0, 3600.0)
    1800.0
    >>> seconds_difference(3600.0, 1800.0)
    -1800.0
    >>> seconds_difference(1800.0, 2160.0)
    360.0
    >>> seconds_difference(1800.0, 1800.0)
    0.0
    """
    return time_2 - time_1               #Body

#seconds_difference(1800.0, 3600.0)
seconds_difference(3600.0, 1800.0)       #Test
#seconds_difference(1800.0, 2160.0)
#_difference(1800.0, 1800.0)

-1800.0

 **STEP 2** ▶ ▶

In [ ]:
def hours_difference(time_1, time_2):
    """ (number, number) -> float

    Return the number of hours later that a time in seconds
    time_2 is than a time in seconds time_1.

    >>> hours_difference(1800.0, 3600.0)
    0.5
    >>> hours_difference(3600.0, 1800.0)
    -0.5
    >>> hours_difference(1800.0, 2160.0)
    0.1
    >>> hours_difference(1800.0, 1800.0)
    0.0
    """
    time_1_hour = time_1 / 3600
    time_2_hour = time_2 / 3600
    return time_2_hour - time_1_hour

#hours_difference(1800.0, 3600.0)
hours_difference(3600.0, 1800.0)
#hours_difference(1800.0, 2160.0)
#hours_difference(1800.0, 1800.0)

-0.5

**STEP 3** ▶ ▶

In [ ]:
def to_float_hours(hours, minutes, seconds):
    """ (int, int, int) -> float

    Return the total number of hours in the specified number
    of hours, minutes, and seconds.

    Precondition: 0 <= minutes < 60  and  0 <= seconds < 60

    >>> to_float_hours(0, 15, 0)
    0.25
    >>> to_float_hours(2, 45, 9)
    2.7525
    >>> to_float_hours(1, 0, 36)
    1.01
    """

    seconds_to_hours = seconds / 3600
    minutes_to_hours = minutes / 60
    float_hours = hours + minutes_to_hours + seconds_to_hours
    return float_hours

#to_float_hours(0, 15, 0)
to_float_hours(2, 45, 9)
#to_float_hours(1, 0, 36)

2.7525

**STEP 4** ▶ ▶

In [ ]:
def to_24_hour_clock(hours):
    """ (number) -> number

    hours is a number of hours since midnight. Return the
    hour as seen on a 24-hour clock.

    Precondition: hours >= 0

    >>> to_24_hour_clock(24)
    0
    >>> to_24_hour_clock(48)
    0
    >>> to_24_hour_clock(25)
    1
    >>> to_24_hour_clock(4)
    4
    >>> to_24_hour_clock(28.5)
    4.5
    """

    return hours % 24

#to_24_hour_clock(24)
#to_24_hour_clock(48)
#to_24_hour_clock(25)
#to_24_hour_clock(4)
to_24_hour_clock(28.5)

4.5

**STEP 5** ▶ ▶

In [ ]:
def get_hours(time):
  """
  (number) -> number

  it determines the hours part from a given time in seconds

  Precondition: time >= 0

  >>> get_hours(3800)
  1
  """
  hours_part = time // 3600

  return hours_part

get_hours(3800)

1

**STEP 6** ▶ ▶

In [ ]:
def get_minutes(time):
  """
  (number) -> number

  it determines the minutes part from a given time in seconds

  Precondition:  time >= 0

  >>> get_minutes(3800)
  3
  """
  minutes_part = (time % 3600) // 60

  return minutes_part

get_minutes(3800)

3

**STEP 7** ▶ ▶

In [ ]:
def get_seconds(time):
  """
  (number) -> number

  it determines the seconds part from a given time in seconds

  Precondition:  time >= 0

  >>> get_seconds(3800)
  20
  """
  seconds_part = (time % 3600) % 60

  return seconds_part

get_seconds(3800)

20

**STEP 8** ▶ ▶

In [ ]:
def time_to_utc(utc_offset, time):
    """ (number, float) -> float

    Return time at UTC+0, where utc_offset is the number of hours away from
    UTC+0.

    >>> time_to_utc(+0, 12.0)
    12.0
    >>> time_to_utc(+1, 12.0)
    11.0
    >>> time_to_utc(-1, 12.0)
    13.0
    >>> time_to_utc(-11, 18.0)
    5.0
    >>> time_to_utc(-1, 0.0)
    1.0
    >>> time_to_utc(-1, 23.0)
    0.0
    """
    conversion_result = time - utc_offset
    return conversion_result % 24

#time_to_utc(+0, 12.0)
#time_to_utc(+1, 12.0)
#time_to_utc(-1, 12.0)
#time_to_utc(-11, 18.0)
#time_to_utc(-1, 0.0)
time_to_utc(-1, 23.0)

0.0

**STEP 9** ▶ ▶

In [ ]:
def time_from_utc(utc_offset, time):
    """ (number, float) -> float

    Return UTC time in time zone utc_offset.

    >>> time_from_utc(+0, 12.0)
    12.0
    >>> time_from_utc(+1, 12.0)
    13.0
    >>> time_from_utc(-1, 12.0)
    11.0
    >>> time_from_utc(+6, 6.0)
    12.0
    >>> time_from_utc(-7, 6.0)
    23.0
    >>> time_from_utc(-1, 0.0)
    23.0
    >>> time_from_utc(-1, 23.0)
    22.0
    >>> time_from_utc(+1, 23.0)
    0.0
    """
    conversion_result2 = time + utc_offset
    return conversion_result2 % 24

#time_from_utc(+0, 12.0)
#time_from_utc(+1, 12.0)
#time_from_utc(-1, 12.0)
#time_from_utc(+6, 6.0)
time_from_utc(-7, 6.0)
#time_from_utc(-1, 0.0)
#time_from_utc(-1, 23.0)
#time_from_utc(+1, 23.0)

23.0

**Flight status report**

In [ ]:
def report_status(scheduled_time, estimated_time):

  """
  (number, number) -> str

Returns the flight status (on time, early, delayed) for a flight that was scheduled to arrive at a scheduled time, but is now estimated to arrive at an estimated time.

Precondition : 0.0 <= scheduled_time < 24 and 0.0 <= estimated_time < 24

  >>>report_status(14.6, 14.6)
  'on time'
  >>>report_status(12.5, 11.5)
  'early'
  >>>report_status(9.0, 9.5)
  'delayed'
  """

  if scheduled_time == estimated_time :
    return 'on time'
  elif scheduled_time > estimated_time :
    return 'early'
  else:
    return 'delayed'

#report_status(14.6, 14.6)
#report_status(12.5, 11.5)
report_status(9.0, 9.5)

This marks the end of my programming assignment, thank you so much for watching, I hope it was helpful for what you needed in some capacity ❗ 🙏